.Flex {
  display: flex;
}

.Grid {
  display: grid;
}

.JustifyCenter {
  justify-content: center;
}

.Dark {
  background-color: var(--dark-color);
  color: #fff !important ;
}

.Dark h3 span {
  color: #fff !important ;
  background-color: transparent;
  
}
.Dark h3 {
  color: #fff !important ;
  
}
.Dark p {
  color: #C8C8C8 !important ;
}
.Dark div {
  
    background-color: transparent;
}
