@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --dark-color: hsla(240, 14%, 13%, 100%);
  --orange-color: hsla(6, 100%, 76%, 100%);
  --cyan-color: hsl(184, 81%, 67%);
  --violet-color: hsl(238, 72%, 80%);
  --fontFamily: 'Nunito'
}

body {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 1.875;
  color: #616161;
  position: relative;
  overflow-x: hidden;
  font-weight: 400;
}

body,
html {
  max-width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  flex-direction: column;
}
p{ font-family: inherit;}

h3,
h3 a,
h3 span {
  font-family: Nunito;
}

@keyframes dotMove {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: perspective(500px) translate3d(5px, 5px, 15px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  75% {
    transform: perspective(500px) translate3d(-5px, 5px, -15px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* Icon Styled */
