@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
    --dark-color: hsla(240, 14%, 13%, 100%);
    --orange-color: hsla(6, 100%, 76%, 100%);
    --cyan-color: hsl(184, 81%, 67%);
    --violet-color: hsl(238, 72%, 80%);
    --fontFamily: "Nunito";
}

$tablet-width: 1024px;
$mobile-width: 980px;
$desktop-width: 1024px;

$darkColor: var(--dark-color);

.backgroundDark {
    background-color: var(--dark-color);
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin fullWidthPosition {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

body {
    font-family: "Nunito";
    font-size: 16px;
    line-height: 1.875;
    color: #616161;
    position: relative;
    overflow-x: hidden;
    font-weight: 400;
}

body,
html {
    max-width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#root {
    display: flex;
    flex-direction: column;
}

p {
    font-family: inherit;
}

h3,
h3 a,
h3 span {
    font-family: Nunito;
    font-weight: 800;
}

input[type="text"],
input[type="url"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="time"],
input,
select,
textarea {
    display: block;
    height: 50px;
    max-width: 100%;
    margin: 0 0 20px 0;
    padding: 10px 18px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    outline: none;
    background: #f6f6f6;
    border: 2px solid #f6f6f6;
    border-radius: 25px;
    transition: 0.3s;
}

input:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
select:focus,
textarea:focus {
    background: transparent;
    border-color: #e8e8e9;
}

footer {
    @extend .backgroundDark;
}

.HeadingContentBox {
    width: 100%;
    max-width: 650px;
}

.super-padding {
    padding: 8rem 0rem;
}

.super-margin {
    margin: 8rem 0rem;
}

.containerWrapper {
    min-width: 320px;
    width: calc(100% - 100px);

    @include mobile {
        max-width: 1190px;
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.floatLeft {
    position: absolute;
    top: 200px;
    z-index: -2;
    left: -450px;
    animation: iconAnimatedDown 4s infinite linear;

    @media (min-width: 980px) {
        left: -300px;
    }
}

.bottom {
    left: -200px;
    position: absolute;
    z-index: -3;
    top: 550px;

    @media (min-width: 980px) {
        left: -70px;
    }
}

.marginBigBottom {
    margin-bottom: 200px;
}

/* Icon Styled */

.iconWrapper {
    transition: 0.4s;
    z-index: 9;

    span {
        display: inline-block;
        position: relative;
        border-radius: 50px 50px 50px 50px;
        line-height: 1.1;
        font-weight: 600;
        transition: all 0.4s;
        position: relative;
        box-shadow: 0px 0px 0px 2px #1c1c25 inset;

        a {
            margin: 0;
            line-height: 38px !important;
            color: #000;
        }

        &:hover {
            box-shadow: inset 0 0 0 2px transparent !important;

            a {
                color: #ffffff;
            }

            &::after {
                transform: translate(0px, 0px);
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            transition: 0.4s;
            z-index: -1;
            border-radius: inherit;
        }
    }

    .submit {
        background-color: transparent;
        appearance: none;
        border: 0px;
        outline: none;
        cursor: pointer;
        display: inline-block;
        height: 50px;
        max-width: 100%;
        margin-bottom: 0;
        border-width: 0;
        border-style: solid;
        border-color: currentColor;
        border-radius: 25px;
        outline: none;
        padding: 6px 26px 4px;
        font-family: inherit;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0;
        text-transform: capitalize;
        -webkit-appearance: none;
        background: transparent;
        transition: 0.4s;
    }
}

@keyframes iconAnimatedDown {
    0% {
        transform: translate3D(0px, 0px, 10px);
    }

    25% {
        transform: translate(30px, 10px);
    }

    50% {
        transform: translate(-30px, -10px);
    }

    75% {
        transform: translate3D(15px, 10px, 15px);
    }

    100% {
        transform: translate3D(0px, 0px, 10px);
    }
}

@keyframes dotMove {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: perspective(500px) translate3d(5px, 5px, 15px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: perspective(500px) translate3d(-5px, 5px, -15px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes animatedFigure {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(20px, 0px);
    }

    50% {
        transform: translate(30px, -20px);
    }

    75% {
        transform: translate(20px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes imageLeft {
    0% {  transform: translateX(10px); }

    100% { transform: translateX(-10px); }
}
@keyframes imageUp {
    0% {  transform: translateY(10px); }

    100% { transform: translateY(-10px); }
}
